:root{
    --btn-clr-secondary: #36B37F;
    --btn-clr-primary: #008552;
    --clr-success:#36B37E;
    --clr-accent:#172B4D;
    --clr-green-300:#EBF0EE;
    --clr-green-600:#C5E9DA;
    --clr-green-900:#36B37E;
    --clr-secondary:#fff;
    --clr-primary:##28352F;
}

*,*::after,*::before{
    margin:0px;
    box-sizing: border-box;
    padding:0px;
}

body{
    width:100vw;
    height:100vh;
    font-family: 'Inter';
}

nav {
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-block: 4px;
}

nav > div > span{
    font-size: 1.2rem;
}

nav > button,header#headline>button{
    border:none;
    background: transparent;
    cursor: pointer;
}

#headline{
    width:100vw;
    height:90vh;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-image:url(../images/header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-inline: 24px;
    padding-block: 3rem;
}

#intro h1{
    margin-block: 64px;
    font-size: 40px;
}

#secondary{
    font-size: 20px;
}

#intro >h1> span{
    color:var(--clr-success);
}

.social{
  margin-block:58px;
}

.social > a{
    text-decoration:none;
    padding-inline: 0.3rem;
}